<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/slider.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Document</title>
</head>

<body>
    <header class="header-container">
        <div class="header-container-superior">
            <div class="header-container-left"><img class="header-logo web" src="/public/img/logo-mercado-liebre.svg"
                    alt="">
                <img class="header-logo-mobile" src="/public/img/logo-mercado-liebre-mobile.png" alt="">
            </div>
            <div class="header-container-medium">
                <div class="header-buscador">
                    <form action=""><input type="text" name="search" id="searching"
                            placeholder="Buscar productos, marcas y más…"><i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>

            </div>
            <div class="header-container-rigth "><img class="header-publicidad web"
                    src="/public/img/D_NQ_887100-MLA50801817839_072022-OO.webp" alt="">
                <div class="navegador-mobile">
                    <i class="fa-solid fa-bars mobile-menu"></i>
                    <i class="fa-solid fa-cart-shopping mobile-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="header-container-inferior">
            <div class="header-container-left">
                <div class="header-ubicacion">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p>Enviar a</p>
                        <p>Capital Federal</p>
                    </div>
                </div>
            </div>
            <div class="header-container-medium web">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
                <nav>
                    <ul class="header-navegador-url">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>

            </div>
            <div class="header-container-rigth web">
                <nav>
                    <ul class="header-navegador-cuenta">
                        <li><a href="">Creá tu cuenta</a></li>
                        <li><a href="">Ingresá</a></li>
                        <li><a href="">Mis compras</a></li>
                        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>

                    </ul>
                </nav>

            </div>
        </div>



    </header>
    <section class="container__slider">
        <div class="slider" id="slider">
            <div class="slider__section"><img src="/public/img/img-home-banner.webp" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/public/img/1669862237488-home-sliderdesktop.webp" alt=""
                    class="slider__img"></div>
            <div class="slider__section"><img src="/public/img/1670019629600-homeslider-desktopdic22.webp" alt=""
                    class="slider__img"></div>
            <div class="slider__section"><img src="/public/img/1.webp" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/public/img/2.webp" alt=""
                    class="slider__img"></div>
            <div class="slider__section"><img src="/public/img/3.webp" alt=""
                    class="slider__img"></div>
        </div>
        <div class="slider__btn slider__btn__rigth" id="btn__rigth">&#60;</div>
        <div class="slider__btn slider__btn__left" id="btn__left">&#62;</div>
    </section>
    <section class="productos-container">
        <div class="productos-div">
            <p class="titulo-seccion">Basado en tu última visita</p>
            <div class="productos-items-list">

                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-cafetera-moulinex.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-macbook-pro-2019.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-samsung-galaxy-s10.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-tv-samsung-smart.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/D_NQ_NP_782339-MLA46510034257_062021-O.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>

            </div>
        </div>


    </section>
    <section class="productos-container">
        <div class="productos-div">
            <p class="titulo-seccion">Sección de Ofertas</p>
            <div class="productos-items-list">
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-cafetera-moulinex.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-macbook-pro-2019.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-samsung-galaxy-s10.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/img-tv-samsung-smart.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
                <div class="producto-item">
                    <div class="producto-card">
                        <div class="producto-card-img">
                            <img src="/public/img/D_NQ_NP_782339-MLA46510034257_062021-O.webp" alt="">
                        </div>
                        <div class="producto-card-description">
                            <div class="producto-generalidades">
                            <p class="producto-precio">$28.298</p>
                            <p class="tipo-envio">Envío gratis <i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-regular fa-heart producto-corazon-flotante"></i>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-sections">
            <section class="section-footer">
                <div class="section-footer-img-div">
                    <img src="/public/img/payment.svg" alt="">
                </div>
                <div class="section-footer-description">
                    <p class="section-footer-descripcion-titulo">Pagá con tarjeta o en efectivo</p>
                    <p class="section-footer-descripcion-descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                        </p>
                    <a href="" class="section-footer-descripcion-url">Cómo pagar tus compras</a>
                    
                </div>
            </section>
            <hr class="footer-section-division">
            <section class="section-footer">
                <div class="section-footer-img-div">
                    <img src="/public/img/shipping.svg" alt="">
                </div>
                <div class="section-footer-description">
                    <p class="section-footer-descripcion-titulo">Envío gratis desde $ 2.500</p>
                    <p class="section-footer-descripcion-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                    <a href="" class="section-footer-descripcion-url">Conocé más sobre este beneficio</a>
                    
                </div>
            </section>
            <hr class="footer-section-division">
            <section class="section-footer">
                <div class="section-footer-img-div">
                    <img src="/public/img/protected.svg" alt="">
                </div>
                <div class="section-footer-description">
                    <p class="section-footer-descripcion-titulo">Seguridad, de principio a fin</p>
                    <p class="section-footer-descripcion-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                        </p>
                    <a href="" class="section-footer-descripcion-url">Cómo te protegemos</a>
                    
                </div>
            </section>
        </div>
        <hr class="footer-division"> 
        <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <script src="/public/js/slider-index.js"></script>
</body>

</html>